.progress {
    animation: progress 1s infinite linear;
}

.left-right {
    transform-origin: 0% 50%;
}

@keyframes progress {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}

.small-search-hide {
    display: none;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.small-search-show {
    display: block !important;
    height: 60px;
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 640px) {
    .small-search-show {
        display: none !important;
    }
}

.side-bar {
    box-shadow: 0 0 5px rgba(52, 220, 200, 0.3);
}