<div class="w-full h-screen relative">
    <div *ngIf="loading" class="absolute opacity-30 bg-blue-gray-600 z-[2] left-0 top-0 w-full h-full a-center">
        <div>
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"
                    fill="rgb(255, 255, 255)"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
    </div>
    <div class="lg:m-10 m-5 carousel relative">
        <div *ngFor="let item of carouselData; index as i"
            class="carousel-card no-thing {{i == 0 ? 'the-thing' : 'hidden'}} lazy-bg slide-{{i}}"
            style="background: linear-gradient(to right, rgba(1, 1, 1, 0.7) 90%, rgba(1, 1, 1, 0.7) 90%, rgba(1, 1, 1, 0.7) 90%), url({{item.bannerImage || '/assets/images/stars.jpg'}});">
            <div class="lg:px-5 px-3" style="height: 99.9% !important; overflow: hidden; display: flex; flex-wrap: nowrap !important;">
                <div class="lg:w-6/12 md:w-6/12 w-8/12 z-[1]">
                    <div class="w-10/12" style="height: 100%;">
                        <div class="w-full flex flex-col justify-end" style="height: 100%;">
                            <p class="a-yslide-hidden spotlight text-sgreen text-sm my-2 p-0" style="font-weight: 700;">{{'#' + (i + 1) + '
                                SPOTLIGHT'}}</p>
                            <h3 class="a-yslide-hidden lg:mb-3 md:mb-3 m-0 p-0 title text-sgreen">{{item.title.english ||
                                item.title.native}}</h3>
                            <p class="a-xslide-hidden lg:block md:block hidden text-[14px] text-slate-200 overflow-scroll"
                                style="max-height: 30% !important;" [innerHTML]="item.description">
                            </p>
                            <div class="my-3 flex">
                                <a href="/watch/{{item.id}}/{{item.title.romaji}}/1">
                                    <button class="btn py-2 pr-3 pl-2 bg-sgreen text-slate-800 flex hover:scale-105">
                                        <div class="a-center">
                                            <ng-icon class="text-lg mr-1" name="heroPlayCircle"></ng-icon>
                                        </div>
                                        <div class="a-center">
                                            <span class="mt-[1px] text-[14px] font-[500]">Watch <span class="lg:inline md:inline hidden">Now</span></span>
                                        </div>
                                    </button>
                                </a>
                                <a href="/watch/{{item.id}}/{{item.title.romaji}}/1">
                                    <button class="ml-2 btn py-2 pr-3 pl-2 bg-white bg-opacity-30 hover:scale-105 flex">
                                        <div class="a-center">
                                            <ng-icon class="text-slate-200 text-lg" name="matChevronRightOutline"></ng-icon>
                                        </div>
                                        <div class="a-center">
                                            <span class="text-slate-200 mt-[1px] text-[14px]">Details</span>
                                        </div>
                                    </button>
                                </a>
                            </div>
                            <div class="lg:block md:block hidden my-2"></div>
                            <div class="my-2"></div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-6/12 md:w-6/12 lg:relative md:relative absolute w-9/12 lg:translate-x-0 md:translate-x-0 translate-x-36 flex justify-center"
                    style="height: 100% !important; overflow: hidden;">
                    <div class="image-container w-8/12 flex justify-center"
                        style="background-color: #e0f2f1; margin-top: -23%; height: 150%;">
                        <div class="image lazy-bg w-11/12"
                            style="margin-top: -10%; height: 100%; background-image: url('{{item.coverImage.extraLarge}}');">
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 w-full rounded-full h-[1px] bg-transparent">
                <div class="h-[1px] rounded-full bg-sgreen" style="width: {{(i + 1) * 10}}%;"></div>
            </div>
        </div>
    </div>
</div>