.recent-container {
    min-height: 500px;
}

.recent-card {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transform: scale(1);
    transition: all 0.2s;
    @apply lg:aspect-[9/5] md:aspect-[8/5] aspect-[7/5]
}

.recent-card:hover {
    transform: scale(1.05);
}

.hidden-recent-card {
    opacity: 0;
    transform: translateX(-40%);
    transition: all 0.5s;
}

.show-recent-card {
    opacity: 1;
    transform: translateX(0);
}
