<div class="w-full h-screen relative">
    <section class="container mx-auto">
        <div class="lg:m-10 m-5">
            <div class="flex justify-between mb-2">
                <div class="flex">
                    <div class="a-center">
                        <ng-icon class="text-sgreen text-[30px] mr-1" name="heroNewspaper"></ng-icon>
                    </div>
                    <div class="a-center font-semibold">
                        <h1 class="text-slate-200 text-lg">Recently Released</h1>
                    </div>
                </div>
            </div>
            <div class="recent-container w-full overflow-x-scroll relative min-h-[100px]">
                <app-loader *ngIf="loading.recent"></app-loader>
                <div class="recent grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-3 grid-cols-2 relative">
                    <div *ngFor="let item of recentData; index as i"
                        class="hidden-recent-card w-full p-2">
                        <div class="recent-card relative p-2 rounded-lg"
                            style="background-image: url({{item.media.coverImage.extraLarge}});">
                            <div
                                class="rounded-sm bg-[#5de4b5] absolute top-2 left-2 bg-opacity-80 px-2 text-[15px] font-[550]">
                                {{item.media.format}}</div>
                            <div
                                class="rounded-sm absolute bottom-2 right-2 bg-black bg-opacity-60 text-slate-200 px-2 text-[15px] font-[550]">
                                {{item.media.duration || 23}}:00</div>
                        </div>
                        <h1 class="text-sm pt-2 flex justify-between text-slate-200">
                            <span><span class="lg:inline-flex md:inline-flex hidden">Episode</span> Aired at:</span>
                            <span>{{date(item.airingAt)}}</span>
                        </h1>
                        <h1 class="text-sm pt-1 font-semibold text-sgreen cursor-pointer">{{item.media.title.english ||
                            item.media.title.romaji || item.media.title.native}}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="flex justify-center py-8">
                <button class="a-center py-1 px-3 shadow-xl hover:scale-110 rounded-md font-semibold mx-1 bg-sgreen">
                    <span>L</span>
                </button>
                <span class="a-center py-1 shadow-xl px-2 hover:scale-110 rounded-md font-semibold mx-1 bg-slate-200">
                    <input class="bg-transparent px-2 w-5" type="number" [(ngModel)]="currentPage" />
                </span>
                <button class="a-center py-1 px-3 shadow-xl hover:scale-110 rounded-md font-semibold mx-1 bg-sgreen">
                    <span>R</span>
                </button>
            </div>
        </div>
    </section>
</div>