{% extends "layout.html" %}
{% block title %}Profile | {{ super() }}{% endblock %}

{% block content %}

<style>
    .glowing-border {
        border: 2px solid transparent;
        border-radius: 30px;
        cursor: pointer;
        animation: glow 2s infinite alternate;
    }

    a {
        text-decoration: none;
        color: #ade3db;
        font-weight: 450;
    }

    a:hover {
        color: #1dffe1;
    }

    .btn-k {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        color: #e74c3c;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 10px 0;
        padding: 0.5em 2em;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        border-radius: 5px !important;
    }

    .btn-k:hover,
    .btn-k:focus {
        color: #01100eb5;
        outline: 0;
    }

    .fourth {
        border: 2px solid #ade3db !important;
        color: #ade3db;
        background-image: linear-gradient(45deg, #ade3db 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        transition: background 300ms ease-in-out;
    }

    .fourth:hover {
        background-position: 0;
    }

    @keyframes glow {
        0% {
            box-shadow: 0 0 20px #5de4b58d;
            /* rgba(0, 191, 165, 0.6); */
        }

        100% {
            box-shadow: 0 0 30px #5de4b5f5
                /* rgba(0, 191, 165, 0.9); */
        }
    }


    :root {
        --anime-width: 200px;
        --anime-height: 300px;
        --arrow-width: 20px;
        --slider-py: 200px;
    }

    @media only screen and (max-width: 950px) {
        :root {
            --anime-width: 35vw;
            --anime-height: 200px;
        }
    }

    .tgreen {
		color: #02dbbe;
	}

    .slider-userList, .slider-favourite {
        height: auto !important;
        width: 100% !important;
        overflow-x: scroll;
        white-space: nowrap;
        position: relative;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .anime {
        width: var(--anime-width);
        height: var(--anime-height);
        display: inline-block;
        position: relative;
        color: white;
        padding: 0 2px;
        font-size: 0.8rem;
        transition: all 0.2s ease-in-out;
    }

    .anime:first-child {
        margin-left: var(--arrow-width);
    }

    .anime:last-child {
        margin-right: var(--arrow-width);
    }

    .anime .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 0px !important;
        /* background-blend-mode: lighten; */
    }

    .anime-name {
        position: relative;
        bottom: 0;
        right: 0;
        text-transform: capitalize;
        font-weight: 900;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        background: transparent !important;
        margin-bottom: 23px;
    }

    @media only screen and (min-width: 900px) {
        .anime:hover {
            transform: scale(1.15);
            z-index: 2;
        }

        .anime:hover>.img {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .anime-name {
            margin-bottom: 15px;
            padding: 5px;
        }
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div style="margin-top: 70px;" class="p-2">
    <div class="d-lg-flex d-md-flex d-block">
        <div class="col-lg-3 col-md-4 col-12 p-4">
            <div style="height: 100%;" class="d-flex flex-column justify-content-center">
                <img src="/images/profile-img.jpg" style="width: 100%;" alt="profile"
                    class="profile-img glowing-border rounded-circle">
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <div style="height: 100%;" class="d-flex flex-column justify-content-center px-lg-5 px-md-4 px-1">
                <hr style="height: 3px;" class="text-sgreen" />
                <form name="profile-form" action="/user/profile" method="post" class="form mt-3">
                    <p class="h5 mb-4 text-light">Update <span class="text-sgreen">Profile</span></p>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light" id="update-usermail-at">
                            <i class="fa-solid fa-at" style="color: #68768d;"></i>
                        </span>
                        <input type="text" class="browser-default form-control" id="update-usermail" placeholder="Email"
                            aria-label="Usermail" value="{{user.email}}" aria-describedby="update-usermail-at" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light" id="update-username-at">
                            <i class="fa-solid fa-user" style="color: #68768d;"></i>
                        </span>
                        <input type="text" class="browser-default form-control" name="username" id="update-username"
                            placeholder="Name" aria-label="Username" value="{{user.name}}"
                            aria-describedby="update-username-at" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light" id="update-npassword-at">
                            <i class="fa-solid fa-shield-halved" style="color: #68768d;"></i>
                        </span>
                        <input type="password" class="browser-default form-control" name="npasswd" id="update-npasswd"
                            placeholder="New Password" aria-label="nUserpass" aria-describedby="update-npassword-at"
                            required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-light" id="update-password-at">
                            <i class="fa-solid fa-lock" style="color: #68768d;"></i>
                        </span>
                        <input type="password" class="browser-default form-control" name="passwd" id="update-passwd"
                            placeholder="Password" aria-label="Userpass" aria-describedby="update-password-at" required>
                    </div>
                    {% if error %}
                    <div class="alert alert-warning" role="alert">
                        <span>{{error}}</span>
                    </div>
                    <script>
                        $(document).ready(function () {
                            setTimeout(() => {
                                $('.alert').remove()
                            }, 3000)
                        })
                    </script>
                    {% endif %}
                    <div class="d-flex justify-content-between">
                        <div>
                            <a style="font-size: 14px;" href="#">Forgot Password?</a>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="btn-k fourth mx-1" onclick="reset()">Reset</div>
                            <button class="btn-k fourth" type="button" onclick="updateUser()"
                                id="update-button">Update</button>
                        </div>
                    </div>
                </form>
                <hr style="height: 3px;" class="text-sgreen" />
            </div>
            <script>
                function reset() {
                    $('#update-username').val('{{user.name}}')
                    $('#update-passwd').val('')
                    $('#update-npasswd').val('')
                }
                function updateUser() {
                    if (
                        $('#update-passwd').val() == '' ||
                        $('#update-username').val() == '') {
                        return
                    }
                    const passwd = $('#update-passwd').val() + '&' + $('#update-usermail').val()
                    const hPasswd = CryptoJS.SHA256(passwd).toString(CryptoJS.enc.Hex)
                    $('#update-passwd').val(hPasswd)
                    console.log(hPasswd)
                    if ($('#update-npasswd').val()) {
                        const npasswd = $('#update-npasswd').val() + '&' + $('#update-usermail').val()
                        const nhPasswd = CryptoJS.SHA256(npasswd).toString(CryptoJS.enc.Hex)
                        $('#update-npasswd').val(nhPasswd)
                        console.log(nhPasswd)
                    }
                    $('form[name="profile-form"]').submit()
                }
                $(document).ready(function () {
                    $('form[name="profile-form"]').on('keyup', function (e) {
                        if (e.key == 'Enter') {
                            updateUser()
                        }
                    })
                })
            </script>
        </div>
    </div>
    <div >
        <!-- playlist -->
        <section class="container-fluid m-0 p-0 mt-5">
            <div class="d-flex justify-content-between" style="margin-top: 60px !important">
                <span class="h5 text-light mx-4 p-0">{{user.name}}'s <span class="text-sgreen">PlayList</span></span>
                <div class="d-flex mx-2">
                    <button onclick="scrollItemsLeft('slider-userList')" class="rounded-3 mx-1 waves-effect waves-light text-dark" style="background-color: #e0f2f1b9;">
                        <i style="font-size: medium;"class="bi bi-caret-left"></i>
                    </button>
                    <button onclick="scrollItemsRight('slider-userList')" class="rounded-3 mx-1 waves-effect waves-light text-dark" style="background-color: #e0f2f1b9;">
                        <i style="font-size: medium;"class="bi bi-caret-right"></i>
                    </button>
                </div>
            </div>
            <div class="slider-userList" id="mySlider">
                {% for item in user.userList %}
                    <div class="anime" id="userlist-{{item.id}}">
                        <div class="d-flex img lazy-bg" data-bg="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('{{item.coverImage}}')">
                            <div class="col-2 d-flex flex-column justify-content-end" style="overflow-y: hidden;">
                                <p class="h6 genre anime-name">{{(item.title)}}</p>
                            </div>
                            <div class="col-10 d-flex flex-column p-2 h-100">
                                <div class="d-flex justify-content-end">
                                    <a href="/details/{{item.id}}" class="rounded-3 btn-flat mx-1 waves-effect waves-light text-light removebutton d-none"
                                        style="background-color: #318e9148;">
                                        <span class="d-flex">
                                            <i style="font-size: large; margin-top: 8px;" class="bi fa-solid  fa-caret-right"></i>
                                        </span>
                                    </a>
                                    <button onclick="removeProfileList('{{item.id}}')" class="rounded-3 btn-flat mx-1 waves-effect waves-light text-light removebutton d-none" style="background-color: #c04a4a;">
                                        <span class="d-flex ">
                                            <i style="font-size: medium; margin-top: 8px; margin-right:10px;"class="bi fa-solid fa-trash"></i>
                                            <span>Remove<span class="d-lg-inline d-md-inline d-none"></span></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Favorites -->
            <div class="d-flex justify-content-between" style="margin-top: 60px !important">
                <span class="h5 text-light mx-4 p-0">Your <span class="text-sgreen">Favorites</span></span>
                <div class="d-flex mx-2">
                    <button onclick="scrollItemsLeft('slider-favourite')" class="rounded-3 mx-1 waves-effect waves-light text-dark" style="background-color: #e0f2f1b9;">
                        <i style="font-size: medium;"class="bi bi-caret-left"></i>
                    </button>
                    <button onclick="scrollItemsRight('slider-favourite')" class="rounded-3 mx-1 waves-effect waves-light text-dark" style="background-color: #e0f2f1b9;">
                        <i style="font-size: medium;"class="bi bi-caret-right"></i>
                    </button>
                </div>
            </div>
            <div class="slider-favourite" id="mySlider">
                {% for item in user.favourites %}
                    <div class="anime fav" id="favlist-{{item.id}}">
                        <div class="d-flex img lazy-bg" data-bg="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('{{item.coverImage}}')">
                            <div class="col-2 d-flex flex-column justify-content-end" style="overflow-y: hidden;">
                                <p class="h6 genre anime-name">{{(item.title)}}</p>
                            </div>
                            <div class="col-10 d-flex flex-column p-2 h-100">
                                <div class="d-flex justify-content-end">
                                    <button onclick="removeProfileFavourites('{{item.id}}')" class="rounded-3 btn-flat mx-1 waves-effect waves-light text-light favbutton">
                                        <span class="d-flex ">
                                            <i style="font-size: medium; margin-top: 8px; margin-right:10px; color: #e00f0f;"class="bi fa-solid fa-heart fav-icon"></i>
                                            <span class="favspan"></span>
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <a href="/details/{{item.id}}" class="rounded-3 btn-flat mx-1 mt-2 waves-effect waves-light text-light favbutton" style="background-color: #318e9148;">
                                        <span class="d-flex">
                                            <i style="font-size: large; margin-top: 8px; margin-left: 10px; margin-right: 10px;" class="bi fa-solid  fa-caret-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <script>
            function removeProfileList(id) {
                if (!id || id == '') {
                    return
                }
                if (localStorage.getItem('logged') != 'true') {
                    location.href = '/user/login'
                    return
                }
                id = +id
                $.ajax({
                    type: "POST",
                    url: "/user/remove-from-list",
                    contentType: 'application/json',
                    data: JSON.stringify({ id }),
                    dataType: 'json',
                    success: function (result) {
                        const id = result.id
                        $('#userlist-' + id).remove()
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            }

            function removeProfileFavourites(id) {
                if (!id || id == '') {
                    return
                }
                if (localStorage.getItem('logged') != 'true') {
                    location.href = '/user/login'
                    return
                }
                id = +id
                $.ajax({
                    type: "POST",
                    url: "/user/remove-from-favourites",
                    contentType: 'application/json',
                    data: JSON.stringify({ id }),
                    dataType: 'json',
                    success: function (result) {
                        const id = result.id
                        $('#favlist-' + id).remove()
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            }

            $(document).ready(function (){
                $('.anime').on('mouseenter',function (){
                    $(this).find('.removebutton').removeClass('d-none')
                })
                $('.anime').on('mouseleave',function (){
                    $(this).find('.removebutton').addClass('d-none')
                })
                $('.fav').on('mouseleave',function (){
                    $(this).find('.fav-icon').removeClass('fa-regular')
                    $(this).find('.fav-icon').addClass('fa-solid')
                    $(this).find('.favspan').text('')
                    $(this).find('.favbutton').css('background-color','#0b0b0b00')

                })
                $('.fav').on('mouseenter',function (){
                    $(this).find('.fav-icon').removeClass('fa-solid')
                    $(this).find('.fav-icon').addClass('fa-regular')
                    $(this).find('.favspan').text('Unfavorite')
                    $(this).find('.favbutton').css('background-color','#0b0b0b')
                })
            })
        </script>
    </div>
</div>

{% endblock %}