{% extends "layout.html" %}
{% block title %}Search | {{ super() }}{% endblock %}
{% block content %}

{% set genres = ["Action", "Adult Cast", "Adventure", "Animation", "Comedy", "Detective", "Drama",
"Ecchi", "Family", "Fantasy", "Isekai", "Kids", "Martial Arts", "Mecha", "Military",
"Mystery", "Otaku Culture", "Reality", "Romance", "School", "Sci-Fi", "Seinen", "Shounen",
"Slice of Life", "Sports", "Super Power", "SuperHero", "Supernatural", "TV Movie"] %}

<style>
    .search-container {
        height: calc(145vh - 70px) !important;
        margin-top: 70px;
    }

    .image-overlay {
        position: absolute;
        bottom: 0;
        z-index: 3;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }

    .image-overlay:hover {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }

    .aspect-ratio-container {
        position: relative;
        width: 100%;
        padding-top: 133.33%;
        /* 3:4 aspect ratio (133.33% = 4 / 3) */
    }

    .aspect-ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .anime-item {
        width: 14% !important;
    }

    .form-control:focus, .form-select:focus {
        border-color: #00bfa5;
        box-shadow: 0 0 0 0.1rem #00bfa5;
    }

    .form-select {
        height: 35px !important;
    }

    .form-select option:checked, option:hover {
        background-color: #00bfa5 !important;
    }

    .filter-box {
        transition: width 0.3s ease-out !important;
    }

    @media only screen and (max-width: 991px) {
        .anime-item {
            width: 20% !important;
        }
        .filter-box {
            z-index: 4;
            position: absolute;
            right: 0;
            top: 70px;
            width: 350px;
            height: calc(145vh - 70px) !important;
        }
        .filter-hide {
            width: 0 !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .anime-item {
            width: 50% !important;
        }
    }
</style>

<div class="search-container d-flex">
    <div class="col-lg-9 col-12" style="height: 100%; overflow-y: scroll;">
        <form name="search-form" class="search-form">
            <div class="mt-3 search-content">
                <div class="d-flex justify-content-between">
                    <h5 class="tgreen mx-3 mb-4">Search Results</h5>
                    <button type="button" class="d-lg-none d-block mx-4 btn-flat rounded-pill waves-light teal accent-4 text-light" onclick="toggleFilter()">
                        <i class="fa-solid fa-filter mx-2" style="color: #edeff2;"></i>
                    </button>
                </div>
                <div class="row justify-content-center m-0 p-0">
                    {% for item in items %}
                    <div class="m-0 px-2 anime-item">
                        <div class="col-12 h-100" style="overflow-y: hidden;">
                            <div class="aspect-ratio-container mytippy-search" data-template="item-{{loop.index0}}">
                                <a href="/details/{{item.id}}">
                                    <div class="image-overlay"></div>
                                    <img class="rounded aspect-ratio-content img-fluid" src="{{item.coverImage.extraLarge}}" alt="">
                                    <div class="ep-btn p-2">
                                        {% set totalEpisodes = (item.episodes if item.episodes else '?') %}
                                        {% set currentEpisode = (item.nextAiringEpisode.episode - 1 if item.nextAiringEpisode else
                                        totalEpisodes) %}
                                        <span class="teal p-1 rounded text-light" style="font-weight: 500;">EP
                                            {{currentEpisode}}</span>
                                    </div>
                                </a>
                            </div>
                            <p class="text-truncate text-light mt-1" style="font-weight: 500">{{item.title.english or item.title.romaji or item.title.native}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center">
                    {% set pageno = pageInfo.currentPage %}
                    <input type="hidden" name="pageno" class="pageno" id="pageno" value="{{pageno}}" />
                    {% if pageno != 1 %}
                    <button class="prevPage btn bg-light text-dark" onclick="formSubmit(-1)" type="button">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    {% endif %}
                    <span class="btn mx-2" aria-disabled="true"><strong style="font-size: 18px;">{{pageno}}</strong></span>
                    {% if pageno != pageInfo.lastPage %}
                    <button class="nextPage btn bg-light text-dark" onclick="formSubmit(1)" type="button">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="filter-box col-lg-3 d-lg-block filter-hide bg-ldark z-depth-3" style="height: 100%; overflow-y: scroll;">
            <div class="mt-4 px-4">
                <div class="d-flex justify-content-between">
                    <span class="h3 tgreen text-light">Filtering</span>
                    <button onclick="toggleFilter()" type="button" class="btn-flat d-lg-none d-block rounded-pill waves-light teal accent-4 text-light">
                        <i class="bi bi-arrow-right mx-2"></i>
                    </button>
                </div>
                <div>
                    <input class="text-light browser-default mt-4 form-control border-0 bg-dark" type="text" placeholder="Search here..." name="animename" id="animename" />
                    <div class="mt-3">
                        <p class="text-light mb-1">Country Of Origin</p>
                        <select name="countryOfOrigin" id="countryOfOrigin" class="form-select bg-dark text-light border-0" id="countryOfOrigin">
                            <option value="" selected>Any</option>
                            <option value="JP">Japan</option>
                            <option value="CN">Chinese</option>
                            <option value="KR">Korean</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="col-6">
                            <p class="text-light mb-1">Format</p>
                            <select name="format" id="format" class="form-select bg-dark text-light border-0" class="format">
                                <option value="" selected>Any</option>
                                <option value="TV">TV</option>
                                <option value="TV_SHORT">TV Short</option>
                                <option value="MOVIE">Movie</option>
                                <option value="SPECIAL">Special</option>
                                <option value="OVA">OVA</option>
                                <option value="ONA">ONA</option>
                            </select>
                        </div>
                        <div class="px-2 col-6">
                            <p class="text-light mb-1">Season</p>
                            <select name="season" id="season" class="form-select bg-dark text-light border-0" class="season">
                                <option value="" selected>Any</option>
                                <option value="WINTER">Winter</option>
                                <option value="SPRING">Spring</option>
                                <option value="SUMMER">Summer</option>
                                <option value="FALL">Fall</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="text-light mb-1">Genre :</p>
                        <div class="row mx-2">
                            {% for i in genres %}
                            <span class="col-5">
                                <label>
                                    <input type="checkbox" class="check-it filled-in" value="{{i}}" name="genre" />
                                    <span>{{i}}</span>
                                </label>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="col-6">
                            <p class="text-light mb-1">Year</p>
                            <select name="year" id="year" class="form-select bg-dark text-light border-0" class="year">
                                <option value="" selected>Any</option>
                                {% for i in range(2024, 1939, -1) %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="px-2 col-6">
                            <p class="text-light mb-1">Sorting</p>
                            <select name="sort" id="sort" class="form-select bg-dark text-light border-0" class="sort">
                                <option value="TITLE_ENGLISH" selected>Ascending</option>
                                <option value="TITLE_ENGLISH_DESC">Descending</option>
                                <option value="START_DATE_DESC">Newly Added</option>
                                <option value="POPULARITY">Rating Low to High</option>
                                <option value="POPULARITY_DESC">Rating High to Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="col-6">
                            <p class="text-light mb-1">Status</p>
                            <select name="status" id="status" class="form-select bg-dark text-light border-0" class="status">
                                <option value="" selected>Any</option>
                                <option value="RELEASING">Airing</option>
                                <option value="FINISHED">Finished</option>
                                <option value="NOT_YET_RELEASED">Not Yet Aired</option>
                                <option value="CANCELLED">Cancelled</option>
                                <option value="HIATUS">Halted</option>
                            </select>
                        </div>
                        <div class="px-2 col-6">
                            <p class="text-light mb-1">Average Score</p>
                            <select name="averageScore" id="averageScore" class="form-select bg-dark text-light border-0" id="averageScore">
                                <option value="50" selected>Greater than 50</option>
                                <option value="60">Greater than 60</option>
                                <option value="70">Greater than 70</option>
                                <option value="80">Greater than 80</option>
                                <option value="90">Greater than 90</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="mt-3 mx-4 btn-flat teal accent-3 waves-effect waves-light" type="button" onclick="formSubmit(0)"><strong>Filter</strong></button>
                    </div>
                    <div class="my-5"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-none">
    {% for item in items %}
    <div id="item-{{loop.index0}}">
        <div class="m-0 p-3 blue-grey darken-4 w-100" style="border-radius: 10px !important;">
            <p class="h5">{{item.title.english or item.title.romaji or item.title.native}}</p>
            <div class="d-flex justify-content-between mb-3">
                <div>
                    {% set totalEpisodes = (item.episodes if item.episodes else '?') %}
                    {% set currentEpisode = (item.nextAiringEpisode.episode - 1 if item.nextAiringEpisode else totalEpisodes) %}
                    <i class="text-warning bi bi-star-fill"></i> {{ item.averageScore / 10 if item.averageScore else 'NA'}}
                    <i class="bi bi-dot"></i> Ep {{currentEpisode}}/{{totalEpisodes}}
                </div>
                <div>
                    <span class="rounded teal accent-4 py-1 px-2 mx-3">{{item.format}}</span>
                </div>
            </div>
            <div>
                <strong>{{ item.description | truncate(256, true, "...") | safe }}</strong>
            </div>
            <div class="mt-3">
                <a href="/details/{{item.id}}">
                    <button class="text-light btn-flat rounded-pill teal accent-4 waves-effect waves-light px-3">
                        Watch Now
                        <i style="font-size: medium;" class="bi bi-caret-right-fill"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>

    function initSearchPage() {
        tippy('.mytippy-search', {
            content(reference) {
                const id = reference.getAttribute('data-template')
                const template = document.getElementById(id)
                return template.innerHTML
            },
            allowHTML: true,
            interactive: true,
            placement: 'top',
            inertia: true,
            animation: 'scale',
            delay: [300, 50],
            duration: [100, 50],
        })
    }

    function setParams() {
        const queryString = location.search
        const queryParams = new URLSearchParams(queryString)
        const params = {}
        for (const [param, value] of queryParams.entries()) {
            if (param == 'animename') {
                $("#" + param).attr('value', value)
            } else if (param == 'genre') {
                $(`.check-it[value='${value}']`).prop("checked", true)
            } else {
                $("#" + param).val(value)
            }
            params[param] = value
        }
        console.log(params)
    }

    function formSubmit(x) {
        $('#pageno').val(+$('#pageno').val() + x)
        console.log($('#pageno').val())
        $('form[name="search-form"]').submit()
    }

    function toggleFilter() {
        if ($('.filter-box').hasClass('filter-hide')) {
            $('.filter-box').removeClass('filter-hide')
        } else {
            $('.filter-box').addClass('filter-hide')
        }
    }

    $(document).ready(function () {
        $('.search-bar').remove()
        $('.search-bar-big').remove()
        initSearchPage()
        setParams()
    })
</script>


{% endblock %}