.glowing-border {
    border: 2px solid transparent;
    cursor: pointer;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px #5de4b58d;
        /* rgba(0, 191, 165, 0.6); */
    }

    100% {
        box-shadow: 0 0 30px #5de4b5f5
            /* rgba(0, 191, 165, 0.9); */
    }
}

.list-card {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.list-card:hover {
    transform: scale(1.05);
}