<div class="w-full min-h-full relative flex flex-col justify-between">
    <app-loader *ngIf="loading"></app-loader>
    <div class="w-full">
        <div class="lg:flex md:flex justify-between block">
            <div class="lg:w-3/12 md:w-4/12 w-full p-6">
                <div class="h-full flex flex-col justify-center">
                    <img src="assets/images/profile.jpg" alt="profile"
                        class="w-full glowing-border rounded-full">
                </div>
            </div>
            <div class="lg:w-9/12 md:w-8/12 w-full a-center">
                <form class="w-full px-5" #profileForm="ngForm" (ngSubmit)="submitForm(profileForm.value)">
                    <div class="profile-container w-full lg:p-10 md:p-10 p-5">
                        <div class="mt-2">
                            <label for="usermail" class="block mb-2 text-md font-medium text-slate-200">Usermail</label>
                            <input type="email" [value]="usermail" [disabled]="true" id="usermail" placeholder="Enter your mail address"
                                class="opacity-80 font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
                            <span *ngIf="errors.usermail !== ''" class="text-red-300">{{errors.usermail}}</span>
                        </div>
                        <div class="mt-4">
                            <label for="username" class="block mb-2 text-md font-medium text-slate-200">Username</label>
                            <input type="text" name="username" [(ngModel)]="username" (input)="validate('username')" id="username"
                                placeholder="Enter your Name"
                                class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
                            <span *ngIf="errors.username !== ''" class="text-red-300">{{errors.username}}</span>
                        </div>
                        <div class="lg:flex md:flex block justify-between">
                            <div class="mt-2 lg:w-1/2 md:w-1/2 w-full">
                                <label for="cpasswd" class="block mb-2 text-md font-medium text-slate-200">New
                                    Password</label>
                                <input type="password" name="npasswd" [(ngModel)]="npasswd" (input)="validate('npasswd')" id="npasswd"
                                    placeholder="Enter your new password"
                                    class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
                                <span *ngIf="errors.npasswd !== ''" class="text-red-300">{{errors.npasswd}}</span>
                            </div>
                            <div class="px-1"></div>
                            <div class="mt-2 lg:w-1/2 md:w-1/2 w-full">
                                <label for="cpasswd" class="block mb-2 text-md font-medium text-slate-200">Confirm
                                    Password</label>
                                <input type="password" name="cpasswd" [(ngModel)]="cpasswd" (input)="validate('cpasswd')" id="cpasswd"
                                    placeholder="Confirm your new password"
                                    class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
                                <span *ngIf="errors.cpasswd !== ''" class="text-red-300">{{errors.cpasswd}}</span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="passwd" class="block mb-2 text-md font-medium text-slate-200">Password</label>
                            <input type="password" name="passwd" [(ngModel)]="passwd" (input)="validate('passwd')" id="passwd"
                                placeholder="Enter your password"
                                class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
                        </div>
                        <span *ngIf="errors.message !== ''" class="mt-2 text-red-300">{{errors.message}}</span>
                        <span *ngIf="success !== ''" class="mt-2 text-[#9fe6cd]">{{success}}</span>
                        <div class="mt-8 flex justify-end">
                            <div>
                                <div (click)="reset()"
                                    class="btn py-2 pr-3 pl-2 text-red-300 hover:bg-red-300 hover:text-slate-800 border rounded-lg border-red-300 flex">
                                    <div class="a-center">
                                        <ng-icon class="text-lg mr-1" name="matRestartAltOutline"></ng-icon>
                                    </div>
                                    <div class="a-center">
                                        <span class="text-[14px] font-semibold">Reset</span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-1"></div>
                            <div>
                                <button type="submit"
                                    class="btn py-2 pr-3 pl-2 text-sgreen hover:bg-sgreen hover:text-slate-800 border rounded-lg border-[#9fe6cd] flex">
                                    <div class="a-center">
                                        <ng-icon class="text-lg ml-1" name="tablerArrowBigUpLine"></ng-icon>
                                    </div>
                                    <div class="a-center">
                                        <span class="text-[14px] font-semibold">Update</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full pt-10">
            <h1 class="text-lg text-slate-200 px-10 side-heading">Your <span class="text-sgreen">List</span></h1>
            <div *ngIf="userList !== null && userList.length !== 0" class="px-10 pt-2 w-full flex overflow-y-scroll">
                <div *ngFor="let item of userList" class="rounded-md">
                    <div (click)="goToDetails(item.id)" class="cursor-pointer w-[150px] p-2">
                        <img class="w-full rounded-md aspect-[3/4]" src="{{item.coverImage}}" alt="cover_image" />
                        <h1 class="text-sm mt-1 text-sgreen">{{item.title}}</h1>
                    </div>
                </div>
            </div>
            <div *ngIf="userList === null || userList.length === 0" class="w-full h-32 a-center">
                <h1 class="text-slate-200 text-xl">Nothing in your List!</h1>
            </div>
        </div>
        <div class="w-full pt-5 pb-10">
            <h1 class="text-lg text-slate-200 px-10 pt-2 side-heading">Your <span class="text-sgreen">Favourites</span></h1>
            <div *ngIf="userList !== null && favourites.length !== 0" class="p-10 pt-2 w-full flex overflow-y-scroll">
                <div *ngFor="let item of favourites" class="rounded-md">
                    <div (click)="goToDetails(item.id)" class="cursor-pointer w-[150px] p-2">
                        <img class="w-full rounded-md aspect-[3/4]" src="{{item.coverImage}}" alt="cover_image" />
                        <h1 class="text-sm mt-1 text-sgreen">{{item.title}}</h1>
                    </div>
                </div>
            </div>
            <div *ngIf="favourites === null || favourites.length === 0" class="w-full h-32 a-center">
                <h1 class="text-slate-200 text-xl">Nothing in your Favourites!</h1>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>