<div class="relative w-full a-center lg:p-5 p-0 pt-5">
    <section class="h-full w-full a-center">
        <div class="wrapper w-full h-full bg-[#29473b] flex flex-col justify-center overflow-hidden rounded-[5px]">
            <div class="game-details px-3 a-center">
                <div class="w-full flex justify-between">
                    <span class="flex justify-between">
                        <span class="a-center bg-sgreen hover:scale-105 px-3 text-sm rounded-sm text-slate-800 cursor-pointer start" (click)="start()">Start</span>
                        <span class="w-2"></span>
                        <span class="score">Score: 0</span>
                    </span>
                    <span class="truncate game-message"></span>
                    <span class="high-score">High Score: 0</span>
                </div>
            </div>
            <div class="relative" style="height: calc(100% - 40px);">
                <div class="absolute w-full h-full left-0 top-0 z-[2] flex justify-between">
                    <div class="w-1/4 controls" key="ArrowLeft"></div>
                    <div class="w-1/2 flex flex-col justify-between">
                        <div class="h-1/2 controls" key="ArrowUp"></div>
                        <div class="h-1/2 controls" key="ArrowDown"></div>
                    </div>
                    <div class="w-1/4 controls" key="ArrowRight"></div>
                </div>
                <div class="play-board aspect-[5/3]"></div>
            </div>
        </div>
    </section>
</div>