<div class="w-full relative">
    <div class="h-[600px] a-center" *ngIf="!item">
        <app-loader></app-loader>
    </div>
    <section *ngIf="item">
        <div class="banner-image"
            style="background: linear-gradient(to right, rgba(1, 1, 1, 0.3) 90%, rgba(1, 1, 1, 0.3) 90%, rgba(1, 1, 1, 0.3) 90%), url({{item.bannerImage || '/assets/images/stars.jpg'}});"
            alt="banner">
        </div>
        <div class="lg:m-20 m-5 lg:mt-5 lg:flex md:flex justify-between">
            <div class="xl:w-2/12 lg:w-3/12 md:w-3/12 w-full py-3">
                <div class="lg:block md:block flex justify-between">
                    <div class="lg:w-full md:w-full w-6/12 a-center">
                        <div class="cover-image rounded-md"
                            style="background-image: url({{item.coverImage.extraLarge}});">
                        </div>
                    </div>
                    <div class="lg:w-full md:w-full w-6/12 py-3 lg:px-0 md:px-0 px-3 flex flex-col">
                        <div class="lg:flex md:flex justify-between">
                            <button *ngIf="!addedToList" (click)="addToList()"
                                class="mt-1 mr-1 lg:w-10/12 md:w-10/12 w-full btn py-2 bg-slate-100 text-slate-800 flex justify-center hover:scale-[1.02]">
                                <div class="a-center">
                                    <ng-icon class="text-lg mr-1" name="heroPlus"></ng-icon>
                                </div>
                                <div class="a-center">
                                    <span class="mt-[1px] text-[14px] font-[500]">Add to List</span>
                                </div>
                            </button>
                            <button *ngIf="addedToList" (click)="removeFromList()"
                                class="mt-1 mr-1 lg:w-10/12 md:w-10/12 w-full btn py-2 bg-slate-700 text-slate-200 flex justify-center hover:scale-[1.02]">
                                <div class="a-center">
                                    <ng-icon class="rotate-45 text-lg mr-1" name="heroPlus"></ng-icon>
                                </div>
                                <div class="a-center">
                                    <span class="mt-[1px] text-[14px] font-[500]">Remove in List</span>
                                </div>
                            </button>
                            <div *ngIf="!addedToFavourite" (click)="addToFavourite()"
                                class="cursor-pointer mt-1 lg:w-2/12 md:w-2/12 w-full btn py-2 bg-[#ff3d00] text-slate-200 flex justify-center hover:scale-105">
                                <ng-icon class="text-lg" name="tablerHeartFilled"></ng-icon>
                            </div>
                            <div *ngIf="addedToFavourite" (click)="removeFromFavourite()"
                                class="cursor-pointer mt-1 lg:w-2/12 md:w-2/12 w-full btn py-2 bg-red-300 text-slate-800 flex justify-center hover:scale-105">
                                <ng-icon class="text-lg" name="tablerHeartFilled"></ng-icon>
                            </div>
                        </div>
                        <div class="mt-1">
                            <button (click)="goToWatch(
                                        item.id,
                                        item.title.romaji ||
                                        item.title.english ||
                                        item.title.userPreferred ||
                                        item.title.native,
                                        1
                                    )"
                                class="w-full btn py-2 bg-sgreen text-slate-800 flex justify-center hover:scale-105">
                                <div class="a-center">
                                    <ng-icon class="text-lg mr-1" name="heroPlayCircle"></ng-icon>
                                </div>
                                <div class="a-center">
                                    <span class="mt-[1px] text-[14px] font-[500]">Watch Now</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:w-10/12 lg:w-9/12 md:w-9/12 w-full p-5">
                <h1 class="capitalize text-2xl pb-3 text-slate-200">{{(item.title.userPreferred || item.title.english ||
                    item.title.romaji ||
                    item.title.native || '').toLowerCase()}}</h1>
                <div class="flex">
                    <div class="a-center">
                        <span
                            class="border rounded-md bg-slate-200 font-semibold text-slate-800 px-3 text-sm">{{item.format}}</span>
                    </div>
                    <span class="px-2 a-center">
                        <ng-icon class="text-xs text-slate-200" name="tablerPointFilled"></ng-icon>
                    </span>
                    <div class="a-center">
                        <span class="border rounded-md border-slate-200 text-slate-200 px-1 text-sm">HD</span>
                    </div>
                    <span class="px-2 a-center">
                        <ng-icon class="text-xs text-slate-200" name="tablerPointFilled"></ng-icon>
                    </span>
                    <div class="a-center">
                        <span class="text-slate-200">EP {{item.nextAiringEpisode?.episode ?
                            (item.nextAiringEpisode?.episode - 1) : (item?.episodes ||
                            '?')}}/{{item?.episodes || '?'}}</span>
                    </div>
                    <span class="px-2 a-center">
                        <ng-icon class="text-xs text-slate-200" name="tablerPointFilled"></ng-icon>
                    </span>
                    <div class="a-center">
                        <span class="text-slate-200">{{item.duration}} min</span>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="text-[14px] text-slate-200" [innerHTML]="item.description"></p>
                </div>
            </div>
        </div>
        <div class="lg:m-20 m-5 lg:flex md:flex block">
            <div class="lg:w-3/12 md:w-3/12 w-full mt-4">
                <div class="mx-1">
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Format :</span> <span
                            class="mx-2">{{item?.format}}</span></p>
                    <hr class="text-slate-200 mb-3" />
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">English Title :</span> <span
                            class="mx-2">{{item?.title?.english}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Romaji Title :</span> <span
                            class="mx-2">{{item?.title?.romaji}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">User Prefered Title :</span>
                        <span class="mx-2">{{item?.title?.userPreferred}}</span>
                    </p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Native Title :</span> <span
                            class="mx-2">{{item?.title?.native}}</span></p>
                    <hr class="mb-3 text-slate-200" />
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Started On :</span> <span
                            class="mx-2">{{date(item?.startDate?.year, item?.startDate?.month,
                            item?.startDate?.day)}}</span>
                    </p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Season :</span> <span
                            class="mx-2">{{item?.season}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Type :</span> <span
                            class="mx-2">{{item?.type}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Status :</span> <span
                            class="mx-2">{{item?.status}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Total Episodes :</span> <span
                            class="mx-2">{{item?.episodes || '?'}}</span></p>
                    <hr class="text-slate-200 mb-3" />
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Genres :</span> <span
                            class="mx-2">{{item?.genres?.join(', ')}}</span></p>
                    <hr class="text-slate-200 mb-3" />
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Average Score :</span> <span
                            class="mx-2">{{item?.averageScore}}</span></p>
                    <p class="text-slate-200 p-0 mb-3 text-sm"><span class="text-sgreen">Favourites :</span> <span
                            class="mx-2">{{item?.favourites}}</span></p>
                    <hr class="text-slate-200 mb-3" />
                    <p class="text-slate-200 p-0 mb-3 text-sm text-sgreen">Synonyms</p>
                    <p class="text-slate-200 p-0 mb-3 text-sm" *ngFor="let i of item?.synonyms">{{i}}</p>
                </div>
            </div>
            <div class="vr mx-1 lg:inline-flex hidden"></div>
            <div class="lg:w-9/12 md:w-9/12 w-full mt-2 mx-2">
                <p class="text-xl text-sgreen mb-3">Recommendations</p>
                <div *ngIf="item?.recommendations?.nodes?.length === 0" class="a-center h-[120px]">
                    <h1 class="text-xl text-slate-200">Nothing Avaliable</h1>
                </div>
                <div class="grid lg:grid-cols-6 grid-cols-3 justify-center">
                    <div class="m-0 px-1 pt-3" *ngFor="let i of item?.recommendations?.nodes">
                        <div class="w-full h-full recommended">
                            <div (click)="goToDetails(i?.mediaRecommendation?.id)">
                                <div>
                                    <img loading="lazy" style="height: 100%; width: 100%;" class="rounded aspect-[2/3]"
                                        src="{{i?.mediaRecommendation?.coverImage?.large}}" alt="">
                                </div>
                                <p class="truncate text-slate-200 mt-1" style="font-weight: 500">
                                    {{i?.mediaRecommendation?.title?.english
                                    || i?.mediaRecommendation?.title?.romaji}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-xl text-sgreen mt-5 mb-3">Relative</p>
                <div *ngIf="item?.relations?.nodes?.length === 0" class="a-center h-[120px]">
                    <h1 class="text-xl text-slate-200">Nothing Avaliable</h1>
                </div>
                <div class="relative grid lg:grid-cols-6 grid-cols-3 justify-center" style="overflow-y: scroll;">
                    <div class="m-0 px-1 pt-3" *ngFor="let i of item?.relations?.nodes">
                        <div class="w-full h-full relatived">
                            <div (click)="goToDetails(i?.id)">
                                <div class="recommend">
                                    <img loading="lazy" style="height: 100%; width: 100%;" class="rounded aspect-[2/3]"
                                        src="{{i?.coverImage?.large}}" alt="">
                                </div>
                                <p class="truncate text-slate-200 mt-1" style="font-weight: 500">{{i?.title?.english ||
                                    i?.title?.romaji}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>
