.banner-image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @apply w-full lg:aspect-[4/1] md:aspect-[5/2] aspect-[5/2] overflow-x-hidden
}

.cover-image {
    z-index: 2 !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 100% !important;
    @apply lg:aspect-[2/3] md:aspect-[2/3] aspect-[3/4] xl:-mt-[250px] lg:-mt-[150px] md:-mt-[150px] -mt-[100px] shadow-2xl
}


.relatived, .recommended {
    transform: scale(1);
    transition: all 0.3s;
}

.relatived:hover, .recommended:hover {
    transform: scale(1.05);
}