<div class="w-full h-screen relative">
    <section class="container mx-auto">
        <div class="lg:m-10 m-5 carousel relative">
            <app-loader *ngIf="loading.carousel"></app-loader>
            <div class="w-full lg:aspect-[3/1] md:aspect-[5/2] aspect-[9/5]"></div>
            <div *ngFor="let item of carouselData; index as i"
                class="carousel-card no-thing {{i == 0 ? 'the-thing' : 'hidden'}} lazy-bg slide-{{i}}"
                style="background: linear-gradient(to right, rgba(1, 1, 1, 0.7) 90%, rgba(1, 1, 1, 0.7) 90%, rgba(1, 1, 1, 0.7) 90%), url({{item.bannerImage || '/assets/images/stars.jpg'}});">
                <div class="lg:px-5 px-3"
                    style="height: 99.9% !important; overflow: hidden; display: flex; flex-wrap: nowrap !important;">
                    <div class="lg:w-6/12 md:w-6/12 w-8/12 z-[1]">
                        <div class="w-10/12" style="height: 100%;">
                            <div class="w-full flex flex-col justify-end" style="height: 100%;">
                                <p class="a-yslide-hidden spotlight text-sgreen text-sm my-2 p-0"
                                    style="font-weight: 700;">{{'#' + (i + 1) + '
                                    SPOTLIGHT'}}</p>
                                <h3 class="a-yslide-hidden lg:mb-3 md:mb-3 m-0 p-0 title text-sgreen">
                                    {{item.title.english || item.title.romaji ||
                                    item.title.native}}</h3>
                                <p class="a-xslide-hidden lg:block md:block hidden text-[14px] text-slate-200 overflow-scroll"
                                    style="max-height: 30% !important; width: 120%;" [innerHTML]="item.description">
                                </p>
                                <div class="my-3 flex">
                                    <!-- (click)="goToRoute('/watch/' + item.id + '/' + item.title.romaji + '/1')" -->
                                    <button (click)="goToRoute('/details/' + item.id)"
                                        class="btn py-2 pr-3 pl-2 bg-sgreen text-slate-800 flex hover:scale-105">
                                        <div class="a-center">
                                            <ng-icon class="text-lg mr-1" name="heroPlayCircle"></ng-icon>
                                        </div>
                                        <div class="a-center">
                                            <span class="mt-[1px] text-[14px] font-[500]">Watch <span
                                                    class="lg:inline md:inline hidden">Now</span></span>
                                        </div>
                                    </button>
                                    <button (click)="goToRoute('/details/' + item.id)"
                                        class="ml-2 btn py-2 pr-3 pl-2 bg-white bg-opacity-30 hover:scale-105 flex">
                                        <div class="a-center">
                                            <ng-icon class="text-slate-200 text-lg"
                                                name="matChevronRightOutline"></ng-icon>
                                        </div>
                                        <div class="a-center">
                                            <span class="text-slate-200 mt-[1px] text-[14px]">Details</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="lg:block md:block hidden my-2"></div>
                                <div class="my-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="lg:w-6/12 md:w-6/12 lg:relative md:relative absolute w-9/12 lg:translate-x-0 md:translate-x-0 translate-x-36 flex justify-center"
                        style="height: 100% !important; overflow: hidden;">
                        <div class="image-container w-8/12 flex justify-center"
                            style="background-color: #e0f2f1; margin-top: -23%; height: 150%;">
                            <div class="image lazy-bg w-11/12"
                                style="margin-top: -10%; height: 100%; background-image: url('{{item.coverImage.extraLarge}}');">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute bottom-0 w-full rounded-full h-[1px] bg-transparent">
                    <div class="h-[1px] rounded-full bg-sgreen" style="width: {{(i + 1) * 10}}%;"></div>
                </div>
            </div>
        </div>
        <div class="lg:m-10 m-5">
            <div class="flex justify-between mb-2">
                <div class="flex">
                    <div class="a-center">
                        <ng-icon class="text-sgreen text-[30px] mr-1" name="heroNewspaper"></ng-icon>
                    </div>
                    <div class="a-center font-semibold">
                        <h1 class="text-slate-200 text-lg">Recently Released</h1>
                    </div>
                </div>
                <div class="flex">
                    <div class="cursor-pointer flex justify-center mr-2">
                        <div class="a-center hover:scale-125">
                            <ng-icon (click)="scrollLeft()" class="text-sgreen text-2xl"
                                name="tablerSquareRoundedChevronsLeft"></ng-icon>
                        </div>
                        <div class="a-center hover:scale-125">
                            <ng-icon (click)="scrollRight()" class="text-sgreen text-2xl"
                                name="tablerSquareRoundedChevronsRight"></ng-icon>
                        </div>
                    </div>
                    <div class="cursor-pointer flex justify-center" (click)="goToRoute('recent')">
                        <div class="a-center">
                            <span class="text-slate-200 mr-1 text-sm lg:inline-flex md:inline-flex hidden">View
                                more</span>
                            <span class="text-slate-200 mr-1 text-sm lg:hidden md:hidden inline-flex">More</span>
                        </div>
                        <div class="a-center hover:scale-110">
                            <ng-icon class="text-sgreen text-2xl" name="tablerSquareRoundedArrowRight"></ng-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent-container w-full overflow-x-scroll relative min-h-[100px]">
                <app-loader *ngIf="loading.recent"></app-loader>
                <div class="recent flex flex-nowrap relative">
                    <div *ngFor="let item of recentData; index as i"
                        class="hidden-recent-card lg:w-1/4 md:w-1/3 sm:w-1/3 w-1/2 p-2">
                        <div class="recent-card relative p-2 rounded-lg"
                            style="background-image: url({{item.media.coverImage.extraLarge}});">
                            <div
                                class="rounded-sm bg-[#5de4b5] absolute top-2 left-2 bg-opacity-80 px-2 text-[15px] font-[550]">
                                {{item.media.format.replaceAll('_', ' ')}}</div>
                            <div
                                class="rounded-sm absolute bottom-2 right-2 bg-black bg-opacity-60 text-slate-200 px-2 text-[15px] font-[550]">
                                {{item.media.duration || 23}}:00</div>
                        </div>
                        <h1 class="text-sm pt-2 flex justify-between text-slate-200">
                            <span><span class="lg:inline-flex md:inline-flex hidden">Episode</span> Aired on:</span>
                            <span>{{date(item.airingAt)}}</span>
                        </h1>
                        <h1 (click)="goToRoute('/details/' + item.media.id)"
                            class="text-sm pt-1 font-semibold text-sgreen cursor-pointer">{{item.media.title.english ||
                            item.media.title.romaji || item.media.title.native}}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:m-10 m-5">
            <div class="flex justify-between mb-2">
                <div class="flex">
                    <div class="a-center">
                        <ng-icon class="text-sgreen text-[30px] mr-1" name="heroSwatch"></ng-icon>
                    </div>
                    <div class="a-center font-semibold">
                        <h1 class="text-slate-200 text-lg">This year <span
                                class="capitalize">{{variables.season.season.toLowerCase()}}</span> Releases</h1>
                    </div>
                </div>
                <div class="cursor-pointer flex justify-center" (click)="goToRoute('trending')">
                    <div class="a-center">
                        <span class="text-slate-200 mr-1 text-sm lg:inline-flex md:inline-flex hidden">View more</span>
                        <span class="text-slate-200 mr-1 text-sm lg:hidden md:hidden inline-flex">More</span>
                    </div>
                    <div class="a-center hover:scale-110">
                        <ng-icon class="text-sgreen text-2xl" name="tablerSquareRoundedArrowRight"></ng-icon>
                    </div>
                </div>
            </div>
            <div class="season-container w-full overflow-x-scroll relative min-h-[100px]">
                <app-loader *ngIf="loading.season"></app-loader>
                <div class="season flex flex-wrap relative">
                    <div *ngFor="let item of seasonData; index as i"
                        class="hidden-season-card lg:w-1/6 md:w-1/4 sm:w-1/4 w-1/3 p-2">
                        <div class="season-scard w-full">
                            <div class="season-card relative p-2 rounded-lg"
                                style="background-image: url({{item.coverImage.extraLarge}});">
                                <div
                                    class="rounded-sm bg-[#5de4b5] absolute top-2 left-2 bg-opacity-80 px-2 text-[15px] font-[550]">
                                    {{item.format.replaceAll('_', ' ')}}</div>
                                <div
                                    class="rounded-sm absolute bottom-2 right-2 bg-black bg-opacity-60 text-slate-200 px-2 text-[15px] font-[550]">
                                    {{item.duration || 23}}:00</div>
                            </div>
                            <p class="pt-2 text-xs text-slate-200 lg:flex md:flex justify-between">
                                <span>
                                    Airing <span class="lg:inline-flex md:inline-flex hidden">from</span>:
                                </span>
                                <span class="text-right">
                                    {{ item.startDate.day + '/' + item.startDate.month + '/' + item.startDate.year }}
                                </span>
                            </p>
                            <h1 (click)="goToRoute('/details/' + item.id)"
                                class="truncate text-sm pt-1 font-normal text-sgreen cursor-pointer">
                                {{item.title.english ||
                                item.title.romaji}}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>