/* carousel section */
.carousel-card {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @apply left-0 top-0 absolute rounded-lg w-full lg:aspect-[3/1] md:aspect-[5/2] aspect-[9/5] overflow-x-hidden
}

.no-thing {
    opacity: 0;
    filter: blur(5px);
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

.the-thing {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    z-index: 2;
}

.image-container {
    transform: rotate(15deg) !important;
}

.image {
    position: relative;
    top: 15%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.title {
    color: #9fe6cd;
    font-size: min(30px, 3vw);
    font-weight: bolder;
}

.a-yslide-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
    transition-delay: 1s;
}

.a-yslide-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.a-xslide-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.8s;
}

.a-xslide-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .a-slide-hidden {
        transition: none;
    }
}


/* recent section */
.recent {
    width: 1200% !important;
    min-height: 100px;
}
@media (min-width: 640px) {
    .recent {
        width: 800% !important;
    }
}
@media (min-width: 1024px) {
    .recent {
        width: 600% !important;
    }
}

.recent-card {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transform: scale(1);
    transition: all 0.2s;
    @apply lg:aspect-[9/5] md:aspect-[8/5] aspect-[7/5]
}

.recent-card:hover, .season-scard:hover {
    transform: scale(1.05);
}

.hidden-recent-card {
    opacity: 0;
    transform: translateX(-40%);
    transition: all 0.5s;
}

.show-recent-card {
    opacity: 1;
    transform: translateX(0);
}


/* season section */
.season-card {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @apply lg:aspect-[2/3] md:aspect-[2/3] aspect-[2/3]
}

.hidden-season-card {
    opacity: 0;
    transform: translateX(-60%);
    transition: all 0.3s;
}

.show-season-card {
    opacity: 1;
    transform: translateX(0);
}

.season-scard {
    transform: scale(1);
    transition: all 0.2s;
}