<div class="w-full h-full overflow-y-hidden a-center relative">
    <div class="z-[2] lg:w-4/12 md:w-6/12 w-10/12 lg:mb-0 md:mb-0 mb-24">
        <div class="login-container w-full rounded-lg bg-[#06151a] lg:p-10 md:p-10 p-5">
            <div class="mt-2">
                <label for="usermail" class="block mb-2 text-md font-medium text-slate-200">User Mail</label>
                <input type="email" id="usermail" placeholder="Enter your mail address"
                    class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
            </div>
            <div class="mt-2">
                <label for="passwd" class="block mb-2 text-md font-medium text-slate-200">Password</label>
                <input type="password" id="passwd" placeholder="Enter your password"
                    class="font-normal block w-full p-2 py-1 border rounded-sm text-md focus:ring-teal-500 focus:border-teal-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-slate-200">
            </div>
            <div class="mt-5 flex justify-end">
                <span class="cursor-pointer text-sm text-sgreen">forgot password?</span>
            </div>
            <div class="mt-8 flex justify-between">
                <div class="a-center">
                    <span (click)="goToRoute('/signup')" class="cursor-pointer text-sm text-sgreen">Don't have an account?</span>
                </div>
                <div>
                    <button
                        class="btn py-2 pr-3 pl-2 text-sgreen hover:bg-sgreen hover:text-slate-800 border rounded-lg border-[#9fe6cd] flex">
                        <div class="a-center">
                            <ng-icon class="text-lg mr-1" name="heroArrowRightOnRectangleMini"></ng-icon>
                        </div>
                        <div class="a-center">
                            <span class="text-[14px] font-semibold">SignIn</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>