@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #040e11 !important;
}

#root {
  /* background-color: #011116 !important; */
  @apply h-screen;
}

.a-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-sgreen {
    /* color: #5de4b5; */
    color: #9fe6cd;
  }

  .bg-sgreen {
    /* background-color: #5de4b5; */
    background-color: #9fe6cd;
  }
}

.bg-ratio {
  @apply w-screen aspect-[3/5] md:aspect-[4/2] lg:aspect-[5/2];
  transition: transform 0.1s linear;
}

.background {
  background-size: cover;
  background-position: center;
}

.background-blur {
  background: linear-gradient(
    to bottom,
    rgba(4, 14, 17, 1) 0%,
    rgba(4, 14, 17, 0.6) 50%,
    rgba(4, 14, 17, 1) 100%
  );
}

input:focus {
    outline: none;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
