<footer class="px-5">
    <div>
        <div>
            <img alt="logo" loading="lazy" class="h-[40px]" src="assets/images/graph-pixel.png" />
        </div>
    </div>
    <p class="text-slate-200 mb-5 px-2"><small>Mix Anime does not store any files on our server, we only
            linked to
            the media which is hosted on 3rd party services.</small></p>
    <div class="flex flex-col">
        <p class="px-2 text-transparent lg:hidden md:hidden inline-flex">This is a secret Message</p>
        <p class="px-2 text-transparent lg:hidden md:hidden inline-flex">I know you watch hentai</p>
        <p class="px-2 text-transparent lg:hidden md:hidden inline-flex">It's is also a part of anime</p>
    </div>
</footer>