{% macro get(recent) %}
{% set genres = ["Action", "Adult Cast", "Adventure", "Animation", "Comedy", "Detective", "Drama",
                 "Ecchi", "Family", "Fantasy", "Isekai", "Kids", "Martial Arts", "Mecha", "Military",
                 "Mystery", "Otaku Culture", "Reality", "Romance", "School", "Sci-Fi", "Seinen", "Shounen",
                 "Slice of Life", "Sports", "Super Power", "SuperHero", "Supernatural", "TV Movie"] %}
{% set hdata = { latestEpisodes: recent.latestEpisodes, newlyAdded: recent.newlyAdded } %}

<style>
    .aspect-ratio-container {
        position: relative;
        width: 100%;
        padding-top: 133.33%;
        /* 3:4 aspect ratio (133.33% = 4 / 3) */
    }

    .aspect-ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-overlay {
        position: absolute;
        bottom: 0;
        z-index: 3;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }

    .image-overlay:hover {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }

    .ep-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 11;
    }

    .tgreen {
        color: #00bfa5 !important;
        font-weight: bold !important;
    }

    .most-v {
        border-radius: 10px !important;
    }

    .most-v:hover {
        background-color: #343a40 !important;
    }

    .custom-border {
        border-bottom: 2px solid #00bfa5;
    }
</style>

<script>
    $(document).ready(function() {
        tippy('.mytippy-recent', {
                content(reference) {
                    const id = reference.getAttribute('data-template')
                    const template = document.getElementById(id)
                    return template.innerHTML
                },
                animation: 'scale',
                allowHTML: true,
                interactive: true,
                placement: 'top',
                inertia: true,
                delay: [300, 50],
                duration: [100, 50],
            }
        )
    })
</script>


<section class="row m-0 p-0">

    <div class="col-lg-9 col-12 m-0 p-2">
        <div class="d-flex justify-content-between mb-2">
            <p class="tgreen">Latest Episodes</p>
            <button class="btn-flat waves-effect waves-light text-light">
                View More
                <i style="font-size: medium;" class="bi bi-chevron-right"></i>
            </button>
        </div>
        <div class="col-12 d-flex" style="overflow-x: scroll;">
            {% for item in recent.latestEpisodes %}
                <div class="col-lg-2 col-md-2 col-3 m-0 px-2">
                    <div class="col-12 h-100" style="overflow-y: hidden;">
                        <div class="aspect-ratio-container mytippy-recent" data-template="latestEpisodes-{{loop.index0}}">
                            <div class="image-overlay"></div>
                            <img loading="lazy" class="rounded aspect-ratio-content img-fluid" src="{{item.coverImage.large or item.coverImage.extraLarge}}" alt="">
                            <div class="ep-btn p-2">
                                {% set totalEpisodes = (item.episodes if item.episodes else '?') %}
                                {% set currentEpisode = (item.nextAiringEpisode.episode - 1 if item.nextAiringEpisode else totalEpisodes) %}
                                <span class="teal p-1 rounded text-light" style="font-weight: 500;">ep{{currentEpisode}}</span>
                            </div>
                        </div>
                        <a href="/details/{{item.id}}">
                        <p class="text-truncate text-light mt-1" style="font-weight: 500">{{item.title.english or item.title.native}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mb-2">
            <p class="tgreen mx-2">Newly Added</p>
            <button class="btn-flat waves-effect waves-light text-light">
                View More
                <i style="font-size: medium;" class="bi bi-chevron-right"></i>
            </button>
        </div>
        <div class="col-12 d-flex" style="overflow-x: scroll;">
            {% for item in recent.newlyAdded %}
                <div class="col-lg-2 col-md-2 col-3 m-0 px-2">
                    <div class="col-12 h-100" style="overflow-y: hidden;">
                        <div class="aspect-ratio-container mytippy-recent" data-template="newlyAdded-{{loop.index0}}">
                            <div class="image-overlay"></div>
                            <img loading="lazy" class="rounded aspect-ratio-content img-fluid" src="{{item.coverImage.large or item.coverImage.extraLarge}}" alt="">
                        </div>
                        <a href="/details/{{item.id}}">
                        <p class="text-truncate text-light mt-1" style="font-weight: 500">{{item.title.english or item.title.romaji}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-3 col-12 m-0 p-0">
        <h5 class="tgreen mb-3">Genres</h5>
        <div class="row">
            {% for genre in genres %}
                <a href="/advancedsearch?genre={{genre}}" class="genre col-lg-4 col-md-2 col-4 my-2" style="cursor: pointer; font-weight: 500">{{genre}}</a>
            {% endfor %}
        </div>
        <div class="col-lg-12 col-md-5 col-12">
            <h5 class="tgreen my-3">Most Visited</h5>
            {% for item in recent.carousel %}
                <div class="most-v d-flex w-100 px-4 py-2" style="height: 100px !important">
                    <div class="col-2 valign-center d-flex flex-column justify-content-center">
                        <div class="col-6">
                            <span class="h4 m-0 p-0 custom-border text-light" style="font-weight: 500;">
                                {{ loop.index if loop.index >= 10 else '0' + loop.index }}
                            </span>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="/details/{{item.id}}">
                        <img loading="lazy" style="width: 100%;" class="rounded" src="{{item.coverImage.large or item.coverImage.extraLarge}}" alt="">
                        </a>
                    </div>
                    <div class="col-8 px-4 d-flex flex-column justify-content-center">
                        <p class="text-light m-1 text-truncate" style="font-weight: 500">{{item.title.english or item.title.romaji}}</p>
                        <p class="text-light m-1">
                            <i class="bi bi-eye"></i> <i class="bi bi-dot"></i>
                            {{item.popularity}} views
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="display: none;">
        {% for key in ['latestEpisodes', 'newlyAdded'] %}
            {% for item in hdata[key] %}
                <div id="{{key}}-{{loop.index0}}">
                    <div class="m-0 p-3 blue-grey darken-4 w-100" style="border-radius: 10px !important;">
                        <p class="h5">{{item.title.english or item.title.native}}</p>
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                {% set totalEpisodes = (item.episodes if item.episodes else '?') %}
                                {% set currentEpisode = (item.nextAiringEpisode.episode - 1 if item.nextAiringEpisode else totalEpisodes) %}
                                <i class="text-warning bi bi-star-fill"></i> {{ item.averageScore / 10 if item.averageScore else 'NA'}}
                                <i class="bi bi-dot"></i> Ep {{currentEpisode}}/{{totalEpisodes}}
                            </div>
                            <div>
                                <span class="rounded teal accent-4 py-1 px-2 mx-3">{{item.format}}</span>
                            </div>
                        </div>
                        <div>
                            <strong>{{ item.description | truncate(256, true, "...") | safe }}</strong>
                        </div>
                        <div class="mt-3">
                            <button class="text-light btn-flat rounded-pill teal accent-4 waves-effect waves-light px-3">
                                <i style="font-size: medium;" class="bi bi-caret-right-fill"></i>
                                Watch Now
                            </button>
                            <a href="/add-to-list/{{item.id}}">
                            <button class="btn-flat waves-effect bg-light accent-4 text-dark rounded-pill">
                                <i class="fa-solid fa-plus" style="color: #08162c; font-size: medium;"></i>
                                Add To List
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>


</section>


{% endmacro %}
