{% macro get(slider) %}

<style>
    :root {
        --anime-width: 200px;
        --anime-height: 300px;
        --arrow-width: 20px;
        --slider-py: 200px;
    }

    @media only screen and (max-width: 950px) {
        :root {
            --anime-width: 35vw;
            --anime-height: 200px;
        }
    }

    .tgreen {
		color: #02dbbe;
	}

    .slider {
        height: auto !important;
        width: 100% !important;
        overflow-x: scroll;
        white-space: nowrap;
        position: relative;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .anime {
        width: var(--anime-width);
        height: var(--anime-height);
        display: inline-block;
        position: relative;
        color: white;
        padding: 0 2px;
        font-size: 0.8rem;
        transition: all 0.2s ease-in-out;
    }

    .anime:first-child {
        margin-left: var(--arrow-width);
    }

    .anime:last-child {
        margin-right: var(--arrow-width);
    }

    .anime .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 0px !important;
        /* background-blend-mode: lighten; */
    }

    .anime-name {
        position: relative;
        bottom: 0;
        right: 0;
        text-transform: capitalize;
        font-weight: 900;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        background: transparent !important;
        margin-bottom: 23px;
    }

    @media only screen and (min-width: 900px) {
        .anime:hover {
            transform: scale(1.15);
            z-index: 2;
        }

        .anime:hover>.img {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .anime-name {
            margin-bottom: 15px;
            padding: 5px;
        }
    }


</style>

<section class="container-fluid m-0 p-0 mt-5">
    <h3 class="h2 tgreen mx-4 mb-3 p-0" style="font-size: 30px; ">Trending</h3>
    <div class="slider" id="mySlider">
        {% for item in slider %}
            <div class="anime">
                <div class="d-flex img lazy-bg" data-bg="background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('{{item.coverImage.large or item.coverImage.extraLarge}}')">
                    <div class="col-2 d-flex flex-column justify-content-end" style="overflow-y: hidden;">
                        <p class="h6 genre anime-name">{{ ('0' + loop.index) if loop.index < 9 else loop.index}}. {{(item.title.english or item.title.native)}}</p>
                    </div>
                    <div class="col-10 d-flex flex-column justify-content-end p-2 h-100">
                        <div class="d-flex justify-content-end">
                            <a href="/details/{{item.id}}">
                            <button class="rounded-3 btn-flat mx-1 waves-effect waves-light text-dark" style="background-color: #e0f2f1b9;">
                                <span class="d-flex">
                                    <i style="font-size: medium;"class="bi bi-caret-right"></i>
                                    <span>Watch <span class="d-lg-inline d-md-inline d-none">Now</span></span>
                                </span>
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


{% endmacro %}
